<html>
<head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="description" content="Login Page">
     <meta name="author" content="Ajay">
     <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"> </script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>

     <script type = "text/javascript"   src = "static/nprogress.js" ></script>
     <script type = "text/javascript"   src = "static/script.js" ></script>
     <link href="static/signin.css" rel="stylesheet">

     <link href="static/nprogress.css" rel="stylesheet">

        <title>Login Page</title>

     </head>
   <body onload="bindEvents()">



   <div id="loader1"></div>
   <div id="loader2"></div>
   <div class="loginContainer">
       <h1 class="form-signin-heading">Login</h1>

       <form class="form-signin" action="/authenticateUser" method="post" >

             <input id = "txtUsername" name="username" class="form-control" placeholder="Username" required autofocus>
             <input id="txtPassword" type="password" name="password" class="form-control" placeholder="Password" required>
             <button id="loginButton" class="btn btn-large btn-primary btn-block" type="submit">Login </button>

       </form>
       <h1 class={{showInvalidStatus}}>Invalid Credentials</h1>
   </div>




   </body>
</html>
