#tabs
{
    width = 100%;
}

#frame1
{
    height: 93vh;
    min-width: 95px;
    float:left;
    background-color: rgba(53, 53, 53, 0.7);
    width:15%;
}

#frame2
{
    background-color: rgba(0,0,0,0.3);
    height: 100vh;
    padding-left: 10px;
    width: 84%;
    float:left;
}

#options
{
        text-align: center;
}

.history
{
    cursor: pointer;
    padding-bottom: 15px;
    display: block;
}

.historyIcon
{
    height: 64px;
    width: 64px;
}

.history span
{
    display: block;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
    font-size: 13.5px;
    margin-left: 6px;
    font-weight: bold;
}

.hide
{
    display: none;
}

.show
{
    display: block;
}


.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

