#tabs
{
    width = 100;
}

#frame1
{
    min-width: 273px;
    float:left;
    background-color: rgba(57,173,219,.25);
    height:700px;
    width:15%;
}

#frame2
{
    min-width: 1000px;
    width:85%;
}

#options
{
       margin-top: 90px;
}

.history
{
    cursor: pointer;
    padding-bottom: 15px;
    display: block;
}

.historyIcon
{
    margin-left: 109px;
    height: 64px;
    width: 64px;

}

.history span
{
    display: block;
    color: #fff;
    text-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
    font-size: 13.5px;
    margin-left: 6px;
    font-weight: bold;
}

.hide
{
    display: none;
}

.show
{
    display: block;
}

